 
body, h1, ul, li {
    margin: 0;
    padding: 0;
  }
  
 
  body {
    font-family: Arial, sans-serif;
  }
  .topFixed{ width: 100%; position: fixed;}
 .p-5{ padding: 5px;}

 .p-15{ padding: 15px;}

 .p-25{ padding: 25px;}
 .pt-55{ padding-top: 55px;}

 .pl-50{ padding-left: 50px;}


 .dk-pt-170{ padding-top: 170px;}
.heading-content{ text-align: left;}
.heading-content p{  line-height: 1.3;}


nav{ background-color: #fff;  }

  .topBar {
    align-items: center;
    background-color: #000;
    color: white;
    padding: 10px;
 
  }
  .logo{ 
    width: 100%;
    text-align: center;
    left: 0;
    top:10px;   
    z-index: 1; }
 
 
.topBar .rightSide { float: right; }

 .mobileNav{ display: none;}
.bm_nav{ display: none;}

 
  .leftSide ul,
  .rightSide ul {
    list-style: none;
    display: flex;
  }
  
  .leftSide ul li,
  .rightSide ul li {  
    border-right: 1px dotted #797979;
    padding: 15px;
  }
  
  .logo img {
    max-width: 100%;
  }
  
  .Container {
    max-width: 1200px;  
    margin: 0 auto;    
     }
  

  nav {
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }
  
  nav li {
    display: inline-block;
   padding: 25px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    
  }
  
  nav li a {
 padding: 15px 2px;
    text-decoration: none;
    color: #000;
  }
  nav li a:hover {  
    border-bottom: 1px solid #000;
  }

 
.grid5container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
  
  }
  .grid3container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
  
  }
  .grid2container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
  
  }



  .footerContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
  }
  .grid-item { 
    text-align: center;
   }
  
  .imgeround{ width: 160px; border-radius: 100px;}
  .posts{ text-align: left;}
 
  footer{ background-color: #000; color: #fff; margin-top: 25px;  padding-bottom: 50px;  }
  footer ul { list-style: none;  }
  footer ul li{ text-align: left; padding: 5px;  }



  footer a { text-decoration: none;  color: #9e9e9e; }
  footer a:hover { text-decoration: none; color: #fff;}

.responsiveImg{ width: 100%;}

 


.foo-h{ color: blue; font-size: 13px; font-weight:600; text-align: left; padding: 15px 0px 30px; }


footer ul{ padding: 0;}
footer ul li{ padding: 0;  }
footer ul li a{ padding: 7px 2px; line-height:2; text-decoration: none; color: #9e9e9e;}
footer ul li a:hover{color: #fff;}
.socal  { display: flex;  }
.socal div{ margin: 5px;}

.socal div:nth-child(2){ padding: 5px 8px;}






 
  @media (max-width: 850px) { 

    .grid5container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
      
      }
      .grid-item { 
        text-align: center;
      }
    }
 












    @media (max-width: 768px) {
        .Container {
          padding: 10px;
          max-width: 100%;  
        }
    
        .grid5container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);  
          
          }
          
          .grid2container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);  
          
          }
          .grid-item { 
            text-align: center;
          }
          .grid3container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);  
          
          }

          
          .footerContainer{
            display: grid;
            grid-template-columns: repeat(3, 1fr);  
                  
          }


          .topBar .rightSide{ float: left;}

          .leftSide ul li, .rightSide ul li {
              border-right: 1px dotted #918F8F;
              padding: 7px;
          }
  
          .topFixed{ display: none; }
          
          .mobileNav{display: inline;  border-bottom: 1px solid #918F8F;  height:40px;  }
          .mobileNav ul{   border-bottom: 1px solid #918F8F;  }
          .mobileNav ul li{ display: inline-block; height: 25px;  }
  
        
          .mobileNav ul li:nth-child(1){ padding:5px;}
          .mobileNav ul li:nth-child(1) img{ padding: 5px; }
  
          .mobileNav ul li:nth-child(2){ float: right; padding:15px 15px;  border-left: 1px solid #918F8F; width: 35px;}
          .mobileNav ul li:nth-child(2) img{   width: 30px;  }
  
          .mobileNav ul li:nth-child(3){ float: right; ; padding: 15px 15px;  width: 20px; border-left: 1px solid #918F8F; width:25px; }
          .mobileNav ul li:nth-child(3) img{   width: 25px;  }

          .expandMobileNav {
            display: inline;
            transform: translateX(0px);
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #000;
            color: #fff;
            top: 0;
            padding: 15px;
            font-size: 20px;
            list-style: none;
            transition: transform 0.3s ease;
            
        }

        .closeMobileNav {
            transform: translateX(-500px);
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #000;
            color: #fff;
            top: 0;
            padding: 15px;
            font-size: 20px;
            list-style: none;
            transition: transform 0.3s ease;
        }

                    
            .expandMobileNav ul{ list-style: none; }
            .expandMobileNav ul li{  padding: 8px; }
            .bm_nav{ display: inline;}
 

      }

     
      @media (max-width: 640px) {

        .topBar .rightSide{ float: left;}

        .leftSide ul li, .rightSide ul li {
            border-right: 1px dotted #918F8F;
            padding: 7px;
        }

        .topFixed{ display: none; }
        
        .mobileNav{display: inline;  border-bottom: 1px solid #918F8F;  height:40px;  }
        .mobileNav ul{   border-bottom: 1px solid #918F8F;  }
        .mobileNav ul li{ display: inline-block; height: 25px;  }

 
        .mobileNav ul li:nth-child(1){ padding:2px;}
 

        .mobileNav ul li:nth-child(2){ float: right; padding:15px 15px;  border-left: 1px solid #918F8F; width: 35px;}
        .mobileNav ul li:nth-child(2) img{   width: 30px;  }

        .mobileNav ul li:nth-child(3){ float: right; ; padding: 15px 15px;  width: 20px; border-left: 1px solid #918F8F; width:25px; }
        .mobileNav ul li:nth-child(3) img{   width: 25px;  }
 
        .grid5container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);  
          
          }

          .footerContainer{
            display: grid;
            grid-template-columns: repeat(2, 1fr);  
          
        
          }


          .expandMobileNav {
            transform: translateX(0px);
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #000;
            color: #fff;
            top: 0;
            padding: 15px;
            font-size: 20px;
            list-style: none;
            transition: transform 0.3s ease;
            
        }

        .closeMobileNav {
            transform: translateX(-500px);
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #000;
            color: #fff;
            top: 0;
            padding: 15px;
            font-size: 20px;
            list-style: none;
            transition: transform 0.3s ease;
        }

        
            .expandMobileNav ul{ list-style: none; }
            .expandMobileNav ul li{  padding: 8px;}
            .bm_nav{ display: inline;}
      }